body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 192, 203);
}

.quiz-container {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#gif-container {
    margin-top: 20px;
}

.background-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.moving-image {
    position: absolute;
    width: 50px; 
    height: auto;
}